services:
  db:
    container_name: product-api-db
    image: postgres:15.2
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
      - ./src/main/resources/sql/product-api-db.sql:/docker-entrypoint-initdb.d/01-product-api-db.sql
      - ./src/main/resources/sql/product-data.sql:/docker-entrypoint-initdb.d/02-product-data.sql
    networks:
      - net
    environment:
      - POSTGRES_DB=productbd
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d productbd" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  net:
    driver: bridge

volumes:
  db:
    driver: local
